body {
  background: url("https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png")
    no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
  perspective: 1000px;
  display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	min-height: 100vh;
}

.app {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  background-color: #000;
	border-radius: 3px;
	padding: 30px;
	margin: 10px;
	text-align: center;
	width: 220px;
	max-width: 100%;
}

.card img {
	border-radius: 50%;
	width: 100px;
}
