body {
  background: url("https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png") no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}